[submodule "3rd/wx"]
	path = 3rd/wx
	url = https://github.com/wxWidgets/wxWidgets
[submodule "3rd/paho-mqtt"]
	path = 3rd/paho-mqtt
	url = https://github.com/eclipse/paho.mqtt.c.git
[submodule "3rd/rapidjson"]
	path = 3rd/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "3rd/regex"]
	path = 3rd/regex
	url = https://github.com/Pridestalkerr/regex.git
